 body {
     font-family: 'Cinzel Decorative', cursive;
 }
img {
    width: 500px;
}
body {
    background-color: yellow;
}
h1:hover { 
    background-color: green;
}
h2:hover {
    background-color:red;
}
img {
    border:10px dashed;
}